body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table th, .table thead th {
  font-weight: 505;
}

.portal_container {
  position: absolute; 
  left: 40%;
  top: 10%;  
  background-color: rgb(221, 213, 204);
  width: auto;
} 

.portal-modal {
  border-style: solid;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px; 
  position: relative; 
  width: auto;
} 